<nav class="navbar">
    <div class="navbar-container">
      <a routerLink="/" class="navbar-logo">FertiTrack</a>

      <button class="hamburger" (click)="togglebtn()">
        &#9776; <!-- Unicode for hamburger icon -->
      </button>

      <ul class="navbar-menu" [class.open]="isMenuOpen">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a routerLink="/calendar" routerLinkActive="active">Calendar</a></li>
        <li><a routerLink="/track" routerLinkActive="active">Track</a></li>
        <li><a routerLink="/faqs" routerLinkActive="active">FAQs</a></li>
        <li><a routerLink="/learn" routerLinkActive="active">Learn</a></li>
      </ul>
    </div>
  </nav>
