<div class="faq-wrapper">
<div class="faq-container">
    <h2>Frequently Asked Questions</h2>
    <mat-accordion class="custom-accordion">
      <mat-expansion-panel *ngFor="let item of faqs"  class="custom-panel">
        <mat-expansion-panel-header class="custom-header">
          <mat-panel-title>
            {{item.question}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="answer-content" [innerHTML]="item.answer"></div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  </div>